<nav class="navbar navbar-expand-lg" style="background-color: #3f3860; min-height: 80px; padding: 20px 0; margin-bottom: 30px;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Add your navigation content here -->
    </div>
  </div>
</nav>
